<div class="container">
  <h1>
    Hola Mundo!
  </h1>
  <h2>
    {{ welcome() }}
  </h2>

  <ul>
    @for (task of task(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>

  <hr />
  <h2>
    {{ 'hola'.repeat(3) }}
  </h2>

  <p> la suma es 3 + 3 es {{ 3 + 3 }}</p>

  <p> Hola soy {{ name() }} y tengo {{ edad }} años</p>

  <input type="text" [value]="name()">


  <hr />
  <button (click)="clickHandler()"> click me</button>

  <button (dblclick)="clickHandler()"> click me</button>



  <p> (keydown) </p>
  <input type="number" [value]="name()" (keydown)="keydownHandler($event)" />

  <hr />
  <h1> SIGNALS</h1>
  <p> (change) </p>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />


  <ul>
    <p> Total: {{ task().length }}</p>
    @for (task of task(); track task; let i = $index) {
      <li>
        <strong>Task {{i + 1}}:</strong> {{ task }}
      </li>
    }
  </ul>


  <input type="color" [formControl]="colorCtrl" />
  <p>Color: {{ colorCtrl.value }}</p>

  <svg width="100" height="100">
    <g>
      <rect x="0" y="0" width="100" height="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>



  <hr />
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value" [style.height.px]="widthCtrl.value"></span>

  <hr />
  <p>
    <input type="text" [formControl]="nameCtrl" /> <br />
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched"> Nombre Invalido</span>
  </p>

  <p>
    <input type="text">
  </p>

</div>